/*******************On_Shore_Off_Site styles*******************/

/*flexible delivery section*/

#flexible-delivery {
    /* background-color: rgba(227, 227, 227, 0.15); */
}

/*******************end of On_Shore_Off_Site styles*******************/

.scroll-bar-section {
    padding: 0;
}

.services ul li{
    list-style: none;
    padding: 5px;
    transition: 0.3s all;
    margin: 3px 0px;
    border-radius: 5px;
}
.services ul {
    /* display: none; */
    margin-top: 10px;
    
}

.services ul h3 {
    /* color: black; */
}

/*h4 headings style*/
h4 {
    display: block;
}

.services ul a:hover {
    /* background-color: darkgray; */
    color: white;
}

.has-info:after {
    content: "(show more)";
    margin: 0px 5px;
    font-weight: 500;
    display: inline-block;
    /* float: right; */
}

.services ul a {
    display: block;
   
}

.round-boxes .box{
    margin: 0;
    width: 150px;
    height: 150px;
    line-height: 150px;
}