<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front">
            <i class="ion-ios-email-outline"></i> mail form</a>
        </li>
        <li>
          <a class="show-back">
            <i class="ion-ios-personadd"></i> Join Us</a>
        </li>
        <li>
          <a class="show-right">
            <i class="ion-ios-location-outline"></i> Our Offices</a>
        </li>
        <li>
          <a class="show-left">
            <i class="ion-ios-people-outline"></i> Work with us</a>
        </li>
        <!-- <li>
            <a class="show-top">Our advantage</a>
          </li> -->
        <!-- <li>
            <a class="show-bottom">testimonials</a>
          </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <!---Contact_Form Section-->
        <section id="contact">
          <div class="contact-img header-img"></div>
          <div class="row">
            <h2 class="white">Send us a message</h2>
            <form>
              <div>
                <label for="fname">FirstName</label>
                <br>
                <input type="text" name="fname" placeholder="First name">
              </div>

              <div>
                <label for="fname">LastName</label>
                <br>
                <input type="text" name="lname" placeholder="Last name">
              </div>

              <div>
                <label for="fname">Business Email</label>
                <br>
                <input type="text" name="bmail" placeholder="Business Email">
              </div>

              <div>
                <label for="fname">Phone Number</label>
                <br>
                <input type="text" name="pnumber" placeholder="Phone Number">
              </div>

              <div>
                <label for="fname">Company Name</label>
                <br>
                <input type="text" name="cname" placeholder="Company Name">
              </div>

              <div>
                <label for="fname">Job Title</label>
                <br>
                <input type="text" name="jtitle" placeholder="Job Title">
              </div>

              <div class="textarea-container">
                <label for="fname">What are you interested in?</label>
                <br>
                <textarea placeholder="What are you interested in?"></textarea>
              </div>
              <input class="send-btn" type="submit">
            </form>
          </div>
        </section>
        <!---end of Contact_Form Section-->

      </div>
      <!---Back side-->
      <div id="back" class="back side">
        <!---Join_Team Section-->
        <section id="join-team">
          <h2>Interested In Joining Our Team?</h2>>
          <div class="row">
            <a class="larg-link">Email info@alphait.us</a>
            <!-- <span class="join-team-or">or</span>
            <a class="larg-link">Explore Our Career Openings</a> -->
          </div>
        </section>
        <!---end of Join_Team Section-->

      </div>

      <!---Right side-->
      <div id="right" class="right side">
        <!---Locations Section-->
        <section id="our-locations">
          <h2>Our offices</h2>

          <div class="row">
            <div class="large-box boxes title-with-subs">
              <div id="map-head-office" class="map"></div>
              <div class="box">
                <h3>Corporate Office</h3>
                <ul>
                  <p>
                    704 N. King St
                    <br> Wilmington, DE 19801
                    <br> Phone: 302-510-8214
                    <br> Fax: 908-847-0395
                  </p>
                </ul>
              </div>

              <div class="box">
                <h3>Disaster recovery center</h3>
                <ul>
                  <p>
                    PENNSYLVANIA
                    <br> 1456 Ferry road, #603
                    <br> Doylestown PA 18901
                    <br> NEW JERSEY
                    <br> 65 Highway Rt 173
                    <br> Clinton, NJ 08809
                    <br> Phone: +91-0172- 506 3856
                    <br> E-mail :- alphaindia@alphait.us

                  </p>
                </ul>
              </div>
              <!-- <div class="box">
                <h3>Regional Offices</h3>
                <ul>
                  <p>
                    CALIFORNIA
                    <br> NORTH CAROLINA
                  </p>
                </ul>
              </div> -->
            </div>
          </div>

          <div class="row boxes title-with-subs">
            <div class="box">
              <h3>Poland</h3>
              <div id="map-poland-office" class="map"></div>
              <ul>
                <p>Skłodowskiej-Curie 18-20
                  <br> 50-381 Wrocław
                  <br> E-mail :alphapoland@alphait.us
                </p>
              </ul>
            </div>
            <div class="box">
              <h3>Poland</h3>
              <div id="map-poland-office-2" class="map"></div>
              <ul>
                <p>Warsaw
                  <br> Q22
                  <br> Jana pawla 2
                  <br> E-mail :alphapoland@alphait.us
                </p>
              </ul>
            </div>
            <div class="box">
              <h3>India</h3>
              <div id="map-india-office" class="map"></div>
              <ul>
                <p>
                  Plot no. ITC-15,
                  <br>IT Park, 
                  <br>Sector 67, 
                  <br>Mohali 160062 
                  <br> Phone: +91-0172- 506 3856
                  <br> E-mail :- alphaindia@alphait.us
                </p>
              </ul>
            </div>
            <div class="box ">
              <h3>Georgia</h3>
              <div id="map-georgia-office" class="map"></div>
              <ul>
                <p>
                  ALPHA HOLDING GEORGIA
                  <br> Tskneti Highway N7
                  <br> Tbilisi -0162, Georgia
                  <br> Office: +995 597916587
                  <br> E-mail :info@alphaholding.ge
                </p>
              </ul>
            </div>

            <div class="box">
              <h3>United Kingdom</h3>
              <div id="map-london-office" class="map"></div>
              <ul>
                <p>
                  Alpha HighQuest
                  <br> London
                  <br> N1 7GU
                  <br> 20- 22 Wenlock Road
                </p>
              </ul>
            </div>

            <div class="box ">
              <h3>Switzerland</h3>
              <div id="map-switzerland-office" class="map"></div>
              <ul>
                <p>
                  Alpha Highquest GmbH
                  <br> 6300 - Zug
                  <br> Grafenauweg 10
                </p>
              </ul>
            </div>
          </div>
        </section>
        <!---end of Locations Section-->
      </div>

      <!---Left side-->
      <div id="left" class="left side">
        <!---Work_with_us Section-->
        <section id="work-with-us">
          <h2>Work With Us?</h2>
          <div class="row">
            <p class="box">
              Career Opportunities With Alpha Technologies Inc.
              <br> Please send us a cover letter & resume outlining your job skills, employment history & educational background.
              We will contact if there is any suitable opening for you.</p>
            <a href="mailto:navita@alphait.us?cc=jack@alphait.us&subject=Resume%20From%20Alphait.us&body=Resume submitted from alphait.us website" class="larg-link">Send your resume now</a>
          </div>
        </section>
        <!---end of Work_with_us Section-->

      </div>
      <!---Top side-->
      <div id="top" class="top side">

      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">

      </div>
    </div>
  </div>
</section>