<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front">
            <i class="ion-ios-email-outline"></i> mail form</a>
        </li>
        <li>
          <a class="show-back">
            <i class="ion-ios-personadd"></i> Join Us</a>
        </li>
        <li>
          <a class="show-right">
            <i class="ion-ios-location-outline"></i> Our Offices</a>
        </li>
        <li>
          <a class="show-left">
            <i class="ion-ios-people-outline"></i> Work with us</a>
        </li>
        <!-- <li>
            <a class="show-top">Our advantage</a>
          </li> -->
        <!-- <li>
            <a class="show-bottom">testimonials</a>
          </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <!---Contact_Form Section-->
        <section id="contact">
          <div class="contact-img header-img"></div>
          <div class="row">
            <h2>Send us a message</h2>
            <h4 style="color:red" *ngIf="!f.valid && sendClicked">Please fill in all fileds</h4>
            <h3 *ngIf="submited;else notSent">
              <i class="ion-ios-checkmark-outline" style="color:green;font-size:200%"></i>
              <br>Thank you
              <br>Email has been sent
            </h3>
            <ng-template #notSent>
              <h3 *ngIf="submited">
                <i class="ion-ios-close-outline" style="color:red;font-size:200%"></i>
                <br>Sorry Mail was not Sent :(</h3>
            </ng-template>
            <form (ngSubmit)="onSend(f)" #f="ngForm">

              <div>
                <label for="first-name">FirstName</label>
                <!-- <span class="error" *ngIf="!fName.valid && fName.touched">Please fill First Name</span> -->
                <br>
                <input type="text" name="first-name" placeholder="First name" ngModel required #fName="ngModel">
                <br>
              </div>

              <div>
                <label for="last-name">LastName</label>
                <!-- <span class="error" *ngIf="!fLastName.valid && fLastName.touched">Please fill Last Name</span> -->
                <br>
                <input type="text" name="last-name" placeholder="Last name" ngModel required #fLastName="ngModel">
              </div>

              <div>
                <label for="e-mail">Email</label>
                <span class="error" *ngIf="!fEmail.valid && fEmail.touched">Please fill in correct Email</span>
                <br>
                <input type="text" name="e-mail" placeholder="Business Email" ngModel email required #fEmail="ngModel">
              </div>

              <div class="textarea-container">
                <label for="text">What are you interested in?</label>
                <!-- <span class="error" *ngIf="!fText.valid && fText.touched">Please fill in your questions</span> -->
                <br>
                <textarea placeholder="What are you interested in?" name="text" ngModel required #fText="ngModel"></textarea>
              </div>
              <!-- <input class="send-btn" type="submit"> -->
              <button class="send-btn" type="submit">Send</button>
            </form>
          </div>
        </section>
        <!---end of Contact_Form Section-->

      </div>
      <!---Back side-->
      <div id="back" class="back side">
        <!---Join_Team Section-->
        <section id="join-team">
          <h2>Interested In Joining Our Team?</h2>
          <div class="row">
            <a class="larg-link">Email info@alphait.us</a>
          </div>
          <div class="info-img box">
            <img src="/assets/resources/img/pics/career.jpg">
          </div>
        </section>
        <!---end of Join_Team Section-->

      </div>

      <!---Right side-->
      <div id="right" class="right side">
        <!---Locations Section-->
        <section id="our-locations">
          <h2>Our offices</h2>

          <div class="row">
            <div class="large-box boxes title-with-subs">
              <!-- <div id="map-head-office" class="map"></div> -->
              <div class="box">
                <h3>US Corporate Office Delaware</h3>
                <ul>
                  <p>
                    704 N. King St
                    <br> Wilmington, DE 19801
                    <br> Phone: 302-510-8214
                    <br> Fax: 908-847-0395
                  </p>
                </ul>
              </div>

              <div class="box">
                <h3>Sales Offices</h3>
                <ul>
                  <p>
                    Pennsylvania
                    <br> 1456 Ferry road, #603
                    <br> Doylestown PA 18901
                    <br>NEW JERSEY
                    <br> 65 Highway Rt. 173
                    <br> Clinton, NJ 08809
                  </p>
                </ul>
              </div>
            </div>
          </div>

          <div class="row boxes title-with-subs">
            <div class="box">
              <h3>India</h3>
              <!-- <div id="map-india-office" class="map"></div> -->
              <ul>
                <p>
                  Building no. ITC-15,
                  <br>IT Park,
                  <br>Sector 67,
                  <br>Mohali 160062
                </p>
              </ul>
            </div>
            <div class="box">
              <h3>Poland</h3>
              <!-- <div id="map-poland-office" class="map"></div> -->
              <ul>
                <p>
                  Sklodowskiej-Curie 18-20
                  <br> 50-381 Wroclaw
                  <br> E-mail: alphapoland@alphait.us
                </p>
              </ul>
            </div>
            <div class="box">
              <h3>Poland</h3>
              <!-- <div id="map-poland-office-2" class="map"></div> -->
              <ul>
                <p>Warsaw
                  <br> Q22
                  <br> Jana pawla 2
                  <br> E-mail: alphapoland@alphait.us
                </p>
              </ul>
            </div>
            <div class="box">
              <h3>Georgia</h3>
              <!-- <div id="map-georgia-office" class="map"></div> -->
              <ul>
                <p>
                  Alpha Holding Georgia
                  <br> Tskneti Highway N7
                  <br> Tbilisi -0162, Georgia
                  <br> Office: +995 568884729
                  <br> E-mail :info@alphaholding.ge
                </p>
              </ul>
            </div>
            <div class="box">
              <h3>United Kingdom</h3>
              <!-- <div id="map-london-office" class="map"></div> -->
              <ul>
                <p>
                  Alpha HighQuest
                  <br> London
                  <br> N1 7GU
                  <br> 20- 22 Wenlock Road
                </p>
              </ul>
            </div>
            <div class="box ">
              <h3>Switzerland</h3>
              <!-- <div id="map-switzerland-office" class="map"></div> -->
              <ul>
                <p>
                  Alpha Highquest GmbH
                  <br> 6300 - Zug
                  <br> Grafenauweg 10
                </p>
              </ul>
            </div>
          </div>
        </section>
        <!---end of Locations Section-->
      </div>

      <!---Left side-->
      <div id="left" class="left side">
        <!---Work_with_us Section-->
        <section id="work-with-us">
          <h2>Work With Us?</h2>
          <div class="row">
            <div class="box">
              Career Opportunities With Alpha Technologies Inc.
              <br> Please send us a cover letter & resume outlining your job skills, employment history & educational background.
              We will contact if there is any suitable opening for you.
            </div>
            <a href="mailto:navita@alphait.us?cc=jack@alphait.us&subject=Resume%20From%20Alphait.us&body=Resume submitted from alphait.us website"
              class="larg-link">Send your resume now</a>
          </div>
          <div class="info-img box">
            <img src="/assets/resources/img/pics/career.jpg">
          </div>
        </section>
        <!---end of Work_with_us Section-->

      </div>
      <!---Top side-->
      <div id="top" class="top side">

      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">

      </div>
    </div>
  </div>
</section>