<section id="threed-cube">
    <div id="options">
        <div id="show-buttons">
            <ul>
                <li>
                    <a class="show-front">
                        <i class="ion-ios-videocam-outline"></i>videos</a>
                </li>
                <li>
                    <a class="show-back">
                        <i class="ion-ios-body-outline"></i>who we are</a>
                </li>
                <li>
                    <a class="show-right">
                        <i class="ion-ios-briefcase-outline"></i>what we do</a>
                </li>
                <li>
                    <a class="show-left">
                        <i class="ion-ios-people"></i>partners</a>
                </li>
                <li>
                    <a class="show-top">
                        <i class="ion-ios-personadd"></i>our-clients</a>
                </li>
                <li>
                    <a class="show-bottom">
                        <i class="ion-ios-chatbubble-outline"></i>testimonials</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="theArt">
        <div id="cube" class="show-front">
            <!--load cube shemosvlis efeqts dzens-->
            <!---Front side-->
            <div id="front" class="front side">
                <section class="rip-main-container ">
                    <h2>Videos</h2>
                    <div class="row">
                        <div class="rip-video-container">

                            <div id="1" class="manage-services">
                                <span>On-Shore Managed Services
                                    <br/>
                                    <i class="ion-play"></i>
                                </span>
                                <div id="manage-services"></div>
                            </div>

                            <div id="2" class="innovation-training">
                                <span>IT Niche & Innovation Training
                                    <br/>
                                    <i class="ion-play"> </i>
                                </span>
                                <div id="inovation-training"></div>
                            </div>
                            <div id="3" class="staffing-services ">
                                <span>IT Talent Acquisition
                                    <br/>
                                    <i class="ion-play"></i>
                                </span>
                                <div id="staffing-services"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!---Back side-->
            <div id="back" class="back side">
                <section>
                    <div>
                        <h2>Who we are </h2>
                        <div class="row boxes">
                            <p class="box">Established in 1997, Alpha is a leading provider of IT solutions & consulting services to diverse
                                global clientele. Specializing in Application Support, Software Development, Talent Acquitation,
                                Data Analytics, Robitics Process Automation, System Integration, Infrastructure Maintenance,
                                Cloud Migration, Compliance & Risk Analysis. Our knowledgeable staff has impressive credentials
                                & experience in delivering superior turnkey technology solutions.
                            </p>
                        </div>
                    </div>
                    <div>
                        <h2>Our Advantage</h2>
                        <div class="row boxes">
                            <p class="box">
                                Alpha Technologies works in partnership with our clients during every phase of planning & design. Allowing them to be kept
                                fully informed & involved during the process. Our goal is to not impose a particular solution
                                or model, but to tailor our services to the unique needs of the client while keeping within
                                the established budget & timeframe
                            </p>
                        </div>
                    </div>
                    <div id="methodology" class="row">
                        <h2>Our Methodology</h2>
                        <div class="row boxes square-box-with-i title-with-subs">
                            <div class="box">

                                <h3>
                                    <i class="ion-ios-thunderstorm-outline"></i>Plan</h3>
                                <ul>
                                    <li>
                                        <i class="ion-android-done"></i>Relationship management</li>
                                    <li>
                                        <i class="ion-android-done"></i>Product/Process management</li>
                                </ul>
                            </div>
                            <div class="box">
                                <h3>
                                    <i class="ion-ios-bolt-outline"></i>Build</h3>
                                <ul>
                                    <li>
                                        <i class="ion-android-done"></i>Deployment</li>
                                    <li>
                                        <i class="ion-android-done"></i>Product engineering</li>
                                    <li>
                                        <i class="ion-android-done"></i>Architecture Design</li>
                                </ul>
                            </div>
                            <div class="box">
                                <h3>
                                    <i class="ion-ios-bolt-outline"></i>Manage</h3>
                                <ul>
                                    <li>
                                        <i class="ion-android-done"></i>Service Desk</li>
                                    <li>
                                        <i class="ion-android-done"></i>Level 1 Operations Center</li>
                                    <li>
                                        <i class="ion-android-done"></i>Field Services Operations</li>
                                    <li>
                                        <i class="ion-android-done"></i>Level 2 & 3 support operations</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!---Right side-->
            <div id="right" class="right side">
                <section>
                    <div id="what-we-do" class="row">
                        <h2>What we do </h2>
                        <div class="boxes title-with-subs">
                            <div class="box" style="background:#7c1212 !important">
                                <i>
                                    <img data-src="assets/resources/img/icons/On%20shore1.png">
                                </i>
                                <!-- <span class="box-title1">On-Shore Off-Site</span>
                                        <span class="box-title2">IT Managed Services</span><br> -->
                                <h3>On-Shore Off-Site IT Managed Services</h3>
                                <ul>
                                    <span class="box-text">
                                        Our On-Shore Off-Site IT Managed Services provides cost-effective, high-quality, flexible IT Infrastructure & Application
                                        engineering/development & support services geared towards helping businesses:
                                        <br>
                                        <strong> *Increase Operational Efficiencies</strong>
                                        <br>
                                        <strong>*Reduce Operational Costs</strong>
                                        <br>
                                        <strong>*Reduce Operational Risks</strong>
                                        <br> Alpha is committed to a customer-oriented service model delivered through our On-Shore
                                        Off-Site IT Managed Services tower, itself supported by IT Training & Innovation
                                        & IT Talent Acquisition. With this operating model, we are uniquely positioned to
                                        help businesses reduce overall operating costs while increasing operational efficiencies.

                                    </span>
                                    <br>
                                    <a routerLink="/on-shore" class="btn-link">read more</a>
                                </ul>
                            </div>
                            <div class="box" style="background:#185a9d !important">
                                <i>
                                    <img data-src="assets/resources/img/icons/training1.png">
                                </i>
                                <!-- <span class="box-title1">IT Training</span> -->
                                <!-- <span class="box-title2">& Innovation</span><br> -->
                                <h3>IT Training & Innovation</h3>
                                <ul>
                                    <span class="box-text">Alpha Technologies boasts a robust IT Training program designed to develop the right
                                        technical skills for the jobs of today & the future & an Innovation Program geared
                                        towards reducing manual processes through automation</span>
                                    <br>
                                    <a routerLink="/it-training-automation" class="btn-link">read more</a>
                                </ul>
                            </div>
                            <div class="box" style="background:linear-gradient(to right, #45B649, #DCE35B) !important">
                                <i>
                                    <img data-src="assets/resources/img/icons/recruiting.png">
                                </i>
                                <!-- <span class="box-title1">IT Talent Acquisition</span> -->
                                <!-- <span class="box-title2">& Consultation</span> -->
                                <h3>IT Talent Acquisition</h3>
                                <ul>
                                    <span class="box-text">Alpha’s offer an IT Talent Acquisition model based on years of experience in the industry.
                                        We have:
                                        <br>
                                        <strong>*Over 100,000 resumes in our database</strong>
                                        <br>
                                        <strong>*Partnership with top job board portals</strong>
                                        <br>
                                        <strong>*Over 18 years of international business experience</strong>
                                    </span>
                                    <br>
                                    <a routerLink="/it-talent" class="btn-link">read more</a>
                                </ul>
                            </div>
                            <div class="box" style="background:linear-gradient(to right, #FFC837, #FF8008) !important">
                                <i>
                                    <img data-src="assets/resources/img/icons/sales1.png">
                                </i>
                                <!-- <span class="box-title1">Computer Software</span> -->
                                <!-- <span class="box-title2">& Hardware Sales</span> -->
                                <h3>Resale Computer hardware & software</h3>
                                <ul>
                                    <span class="box-text">Deciding on what server, desktop, router or software to buy for your business can be
                                        challengin g & frustrating. Alpha offers procurement services to aid in the decision-making
                                        process. Alpha Technologies works with some of the leading channel partners & suppliers
                                        in the industry to source computer hardware & software for our clients to ensure
                                        a smooth process from order to delivery
                                    </span>
                                    <br>
                                    <a routerLink="/sales" class="btn-link">read more</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!---Left side-->
            <div id="left" class="left side">
                <section>
                    <div id="partners" class="row">
                        <h2>Partners</h2>
                        <div class="boxes">
                            <img data-src="assets/resources/img/partners/startegic/adobe.jpg">
                            <img data-src="assets/resources/img/partners/startegic/avg.jpg">
                            <img data-src="assets/resources/img/partners/startegic/cisco.jpg">
                            <img data-src="assets/resources/img/partners/startegic/dell.jpg">
                            <img data-src="assets/resources/img/partners/startegic/hp.jpg">
                            <img data-src="assets/resources/img/partners/startegic/ibm.jpg">
                            <img data-src="assets/resources/img/partners/startegic/microsoft.jpg">
                            <img data-src="assets/resources/img/partners/startegic/vmware.jpg">
                            <img data-src="assets/resources/img/partners/solution/adobe.jpg">
                            <img data-src="assets/resources/img/partners/solution/anixter.jpg">
                            <img data-src="assets/resources/img/partners/solution/arbitech.jpg">
                            <img data-src="assets/resources/img/partners/solution/crestron.jpg">
                            <img data-src="assets/resources/img/partners/solution/scansource.jpg">
                            <img data-src="assets/resources/img/partners/solution/shi.jpg">
                            <img data-src="assets/resources/img/partners/solution/synnex.jpg">
                            <img data-src="assets/resources/img/partners/solution/vology.jpg">

                        </div>
                    </div>
                </section>
            </div>
            <!---Top side-->
            <div id="top" class="top side">
                <section>
                    <div id="our-clients" class="row">
                        <h2>Private clients</h2>
                        <div class="boxes ">
                            <!-- <img data-src="assets/resources/img/clients/private_clients/ann.jpg">
                            <img data-src="assets/resources/img/clients/private_clients/bofa4.jpg">
                            <img data-src="assets/resources/img/clients/private_clients/cands.jpg">
                            <img data-src="assets/resources/img/clients/private_clients/cb.jpg">
                            <img data-src="assets/resources/img/clients/private_clients/CenturyLink-logo.jpg">
                            <img data-src="assets/resources/img/clients/private_clients/csfb.jpg">
                            <img data-src="assets/resources/img/clients/private_clients/emc.jpg">
                            <img data-src="assets/resources/img/clients/private_clients/FreedomMortgage.jpg">
                            <img data-src="assets/resources/img/clients/private_clients/guardian.jpg">
                            <img data-src="assets/resources/img/clients/private_clients/gugg.jpg">
                            <img data-src="assets/resources/img/clients/private_clients/hughes.jpg">
                            <img data-src="assets/resources/img/clients/private_clients/iie.jpg">
                            <img data-src="assets/resources/img/clients/private_clients/jpmc.jpg">
                            <img data-src="assets/resources/img/clients/private_clients/miamidade.jpg">
                            <img data-src="assets/resources/img/clients/private_clients/nova.jpg"> -->

                            <img data-src="assets/resources/img/clients/private_clients/pic (1).png">
                            <img data-src="assets/resources/img/clients/private_clients/pic (2).png">
                            <img data-src="assets/resources/img/clients/private_clients/pic (3).png">
                            <img data-src="assets/resources/img/clients/private_clients/pic (4).png">
                            <img data-src="assets/resources/img/clients/private_clients/pic (5).png">
                            <img data-src="assets/resources/img/clients/private_clients/pic (6).png">
                            <img data-src="assets/resources/img/clients/private_clients/pic (7).png">
                            <img data-src="assets/resources/img/clients/private_clients/pic (8).png">
                            <img data-src="assets/resources/img/clients/private_clients/pic (9).png">
                            <img data-src="assets/resources/img/clients/private_clients/pic (10).png">
                            <img data-src="assets/resources/img/clients/private_clients/pic (11).png">
                            <img data-src="assets/resources/img/clients/private_clients/pic (12).png">
                            <img data-src="assets/resources/img/clients/private_clients/pic (13).png">
                            <img data-src="assets/resources/img/clients/private_clients/pic (14).png">
                            <img data-src="assets/resources/img/clients/private_clients/pic (15).png">
                        </div>
                        <h2 class="clients-h2">U.S. Government Clients</h2>
                        <div class="boxes row">
                            <img data-src="assets/resources/img/clients/us_state_clients/de.jpg">
                            <img data-src="assets/resources/img/clients/us_state_clients/fl.jpg">
                            <img data-src="assets/resources/img/clients/us_state_clients/fl2.jpg">
                            <img data-src="assets/resources/img/clients/us_state_clients/mi.jpg">
                            <img data-src="assets/resources/img/clients/us_state_clients/nc.jpg">
                            <img data-src="assets/resources/img/clients/us_state_clients/nj.jpg">
                            <img data-src="assets/resources/img/clients/us_state_clients/ny.jpg">
                            <img data-src="assets/resources/img/clients/us_state_clients/sc.jpg">
                        </div>
                    </div>
                </section>
            </div>
            <!---Bottom side-->
            <div id="bottom" class="bottom side">

                <section>
                    <div id="testimonials">
                        <h2 class="testimonial-title">Testimonials</h2>
                        <div class="testimonials row">
                            <div class="testimonial">
                                <p class="quote-phrase">
                                    <span class="quote-marks">"</span> Well document implementation & project plan, we look forward to partnering with
                                    you as we take our services team to a new paradigm. I do not know who to thank but wanted
                                    to pass along a job well done
                                    <span class="quote-marks">"</span>

                                </p>
                                <p class="quote-author">Services Manager / Insurance Firms</p>
                            </div>
                            <div class="testimonial">
                                <p class="quote-phrase">
                                    <span class="quote-marks">"</span> I can count on your team to find the right resource for our staffing needs.
                                    Consultant sent on site immediately hit the ground running & contribute greatly to our
                                    upgrade & migration form our legacy HP environment to a multi-node clustered database
                                    environment. Thank you.
                                    <span class="quote-marks">"</span>

                                </p>
                                <p class="quote-author">Senior Director, Enterprise Database Services / Wholesale Products Distributors</p>
                            </div>
                            <div class="testimonial">
                                <p class="quote-phrase">
                                    <span class="quote-marks">"</span> Thank you Alpha for being there anytime any day & your teams sense of urgency
                                    helping us work through a critical application server issue requirement an on demand
                                    resource enabled us to get our warehouses fully functioning without significant rework.
                                    <span class="quote-marks">"</span>

                                </p>
                                <p class="quote-author">VP Distributed Systems / Warehouse Management</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!---end of Testimonials Section-->
            </div>
        </div>
    </div>
</section>